@import '../../Styles/variables';

.content {
    padding: 40px;

    .title {
        color: $font_color;
        font-family: 'Poppins', sans-serif;
    }

    .imageCard {
        img {
            height: 250px;
            object-fit: cover;
            width: auto;
            transition: opacity 0.3s ease-in-out;
            
            &:hover{
                opacity: 0.6;
            }
        }

        & > div {
            gap: 0.5rem !important;
            padding: 1rem;
        }
    }
}