@import '../../Styles//variables';


.contact {

    svg {
        color: $main-color;
    }

    a {
        color: $main-color;
    }
}

form {
    label {
        font-size: medium !important;
    }

    button {
        background-color: $main-color !important;
        font-size: large !important;
    }
}

footer {
    border-top: 1px solid gray;

    hr {
        margin: 10px !important;
    }
}